// colours
$white: #ffffff;
$black: #323232;
$silver: #afafaf;
$darkblack: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;

// text size
$font-size__ph-m: 1.5rem;
$font-size__seh-m: 1.5rem;
$font-size__sh-m: 0.875rem;
$font-size__body-m: 0.813rem;
$font-size__footer-m: 0.813rem;
$font-size__lb-m: 0.625rem;
$font-size__ph: 3.75rem;
$font-size__seh: 2.25rem;
$font-size__sh: 1.5rem;
$font-size__body: 0.875rem;
$font-size__footer: 0.875rem;
$font-size__lb: 0.75rem;

// line height
$line-height__ph-m: 2rem;
$line-height__seh-m: 2rem;
$line-height__sh-m: 1.375rem;
$line-height__body-m: 1.125rem;
$line-height__footer-m: 1.1255rem;
$line-height__lb-m: 1.25rem;
$line-height__ph: 4.25rem;
$line-height__seh: 2.75rem;
$line-height__sh: 2rem;
$line-height__body: 1.375rem;
$line-height__footer: 1.25rem;
$line-height__lb: 1.25rem;

// font weight
$font-regular: 400;
$font-demi: 600;
$font-bold: 700;

// padding
$padding__bh-m: 1.5rem;
$padding__ah-m: 1rem;
$padding__bc-m: 1rem;
$padding__bh: 3rem;
$padding__ah: 2.25rem;
$padding__bc: 2.25rem;
