@use "./partials/index" as *;

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black;
}

.header__logo img {
  max-width: 7.5rem;
  max-height: 1.25rem;
  display: flex;
  align-items: center;
  padding-top: $padding__bh-m;
  padding-bottom: $padding__ah-m;
}

.header__title {
  text-decoration: none;
  color: $black;
  margin-right: $padding__bh-m;
}

.header__nav {
  padding: $padding__bc-m;
}

.header__navitem {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  color: $white;
  text-decoration: none;
  width: 50%;
  & a {
    text-decoration: none;
    position: relative;
    // color: $white;
  }
  &--active {
    font-weight: 700;
    color: #ffffff;
    font-weight: bold;
    border-bottom: 0.25rem solid $white;
  }
  &:hover {
    font-weight: 700;
    color: #ffffff;
    font-weight: bold;
    border-bottom: 0.25rem solid $white;
  }
  &--inactive {
    font-weight: 400;
  }
  &.navitem--inactive {
    color: $silver;
  }
  &.navitem--active {
    color: $white;
  }
}

.hero-image-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  // img {
  //   max-width: 100%;
  //   max-height: 100%;
  // }
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.image-with-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.hero-bio__image {
  max-width: 100%;
  max-height: 100%;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  padding-left: 3rem;
  color: $white;
  font-size: $font-size__seh;
  line-height: $line-height__seh;
  font-weight: $font-bold;
}

.about-headline {
  padding-top: $padding__bh-m;
  padding-bottom: $padding__ah-m;
  padding-left: 1.5rem;
  font-size: $font-size__seh-m;
  line-height: $line-height__seh-m;
  font-weight: $font-bold;
}
.about-the-musicians-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: auto;
}

.body-image-1 {
  width: 90%;
  height: auto;
  display: flex;
  padding-bottom: $padding__ah-m;
  padding-left: 1.5rem;

  .image-with-text-1 {
    font-size: $font-size__body-m;
    line-height: $line-height__body-m;
    padding-left: 1.5rem;
    padding-bottom: $padding__ah-m;
    font-weight: $font-regular;
  }

  .bees-knees-section {
    display: flex;
    flex-direction: column;
    padding-bottom: $padding__bh-m;
  }
  .bees-knees__title {
    font-size: $font-size__seh-m;
    line-height: $line-height__seh-m;
    font-weight: $font-bold;
    padding-top: $padding__bc-m;
    padding-left: $padding__bc-m;
  }
}
.bees-knees__content {
  display: flex;
  flex-wrap: wrap;
  padding-left: $padding__ah-m;
  font-size: $font-size__body-m;
  line-height: $line-height__body-m;
  font-weight: $font-regular;
}
.bees-knees__column {
  padding-top: $padding__ah-m;
  // flex: 1 1 calc(50% - 36px);
  // margin-right: 36px;
  &:last-child {
    margin-right: 0;
  }
}

.photo-gallery__subheader {
  padding-top: $padding__bh-m;
  padding-bottom: $padding__ah-m;
  color: $black;
  font-size: 36px;
  font-weight: 44px;
  font-weight: 700;
}
.image-container-2 {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: $silver;
}
