/* header container */
.header-container {
    display: flex;
    align-items: center;
    padding-left: 48px;
    background: #323232;
    color: #FFFFFF;
}

/* Logo */
.header__logo img {
    width: 100px; /* Set the width of the logo */
    height: auto; /* Maintain aspect ratio */
    display: block;
}

/* Navigation Title */
.header__title {
    text-decoration: none;
    color: #FFFFFF; 
    margin-right: 48px; /* Add margin to separate the title from navigation items */
}

.header__nav, .header__nav-item {
    margin: 20px; /* Add margin between navigation items */
    cursor: pointer; /* Provide a pointer cursor */
    display: flex;
}

/* Style the anchor within the navigation item */
.header__nav-item a {
    text-decoration: none;
    color: #323232; 
}

/* Hover effect for navigation items */
.header__nav-item:hover {
    text-decoration: underline;
}

.hero-image-container img, .body-image-1 {
    max-width: 100%;
    max-height: 100%;
}

/* Hero Image Container */
.hero-image-container {
    position: relative;
    opacity: 50%;
}

/* Image with Text Overlay */
.image-with-text {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

/* Additional styles for the image with text */
.hero-bio__image {
        /* Add styles for the hero bio image */
        width: 100%; /* Adjust image width as needed */
        height: auto; /* Maintain aspect ratio */
}

.overlay-text {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        color: #FFFFFF; 
        font-size: 60px; 
}

.image-container-1 {
    display: flex;
    align-items: center;    
    max-width: 50%;
    max-height: 50%;
}

.image-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 36px;
    background-color: #E1E1E1;
}

/* Image Item styles */
.image-container__item {
    flex-basis: calc(33.33% - 16px); /* Adjust the width and padding to create 16px gap */
    box-sizing: border-box;
    padding: 36x; 
}

.image-container__item img {
    width: 100%;
    height: auto;
    padding: 36px;
}

/* Footer styles */
.footer {
    background: #323232;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
}

/* Contact information styles */
.footer__contact-info {
    display: flex;
    background: #323232;
    color: #FFFFFF;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer__contact-info-item {
    flex-basis: 30%;
    text-align: left;
}

.footer__contact-name {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Copyright styles */
.footer__copyright {
    font-size: 14px;
}

header, body, footer {
    font-family: 'Avenir Next Bold', 'Avenir Next Demi', 'Avenir Next Regular';
}