* {
    font-family: 'Avenir Next Bold', 'Avenir Next Demi', 'Avenir Next Regular';
}

/* header container */
.header-container {
    display: flex;
    align-items: center;
    padding-left: 48px;
    background: #323232;
    color: #FFFFFF;
}

/* Logo */
.header__logo img {
    width: 120px; 
    height: 20px; 
    display: block;
    padding-left: 48px;
}

/* Navigation Title */
.header__title {
    text-decoration: none;
    color: #FFFFFF; 
    margin-right: 48px; /* Add margin to separate the title from navigation items */
}

.header__nav {
    margin: 36px; /* Add margin between navigation items */
    cursor: pointer; /* Provide a pointer cursor */
    display: flex;
}

.header__nav-item {
    margin: 20px; /* Add margin between navigation items */
    cursor: pointer; /* Provide a pointer cursor */
    display: flex;
    color: #E5E5E5; /* Mercury color for inactive links */
}

/* Active Link Styles */
.header__nav-item.active {
    color: #FFFFFF; /* White color for active links */
    font-weight: bold; /* Bold font for active links */
}

/* Style the anchor within the navigation item */
.header__nav-item a {
    text-decoration: none;
    color: #E5E5E5
    position: relative;
}

/* Hover effect for navigation items */
.header__nav-item:hover {
    text-decoration: underline;
}

/* Underline effect */
.header__nav-item a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px; /* Height of the underline */
    width: auto; /* Width adjusts to the content */
    background-color: #FFFFFF; /* White color for underline */
    transition: width 0.3s ease; /* Smooth transition for width change */
}

/* Hover Effect for Underline */
.header__nav-item a:hover::after,
.header__nav-item.active a::after {
    width: 100%; /* Maximum width for underline on hover/active */
}

/* Hero Image Container */
.hero-image-container {
    position: relative;
    background-color: #323232;
    opacity: 50%;
}

.hero-image-container img {
    max-width: 100%;
    max-height: 100%;
}

/* Image with Text Overlay */
.image-with-text {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

/* Additional styles for the image with text */
.hero-bio__image {
        /* Add styles for the hero bio image */
        width: 100%; /* Adjust image width as needed */
        height: auto; /* Maintain aspect ratio */
}

.overlay-text {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        color: #FFFFFF; 
        font-size: 60px; 
}

/* Adjust padding for the 'About the Musicians' headline */
.about-headline {
    padding-top: 48px; /* Add padding before the headline */
    padding-bottom: 36px;
    margin-left: 12%;
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
}

.about-the-musicians-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    
    padding-left: 25%;
    max-width: 50%;
    max-height: 50%;
}

.body-image-1 {
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 36px;
}

.bees-knees-section {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
}

.bees-knees__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding-bottom: 36px;
    margin-left: 25%;
}

/* Flex container for columns */
.bees-knees__content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25%;
    margin-right: 25%;
}

/* Individual columns */
.bees-knees__column {
    flex: 1 1 calc(50% - 20px); /* Adjust width and margins between columns */
    margin-right: 15px; /* Margin between columns */
    
}

/* Ensure last column doesn't have margin */
.bees-knees__column:last-child {
    margin-right: 0;
}

/* Adjust styles for paragraphs within columns */
.bees-knees__column p {
}

.photo-gallery-section {
    padding-top: 48px; 
}

.photo-gallery__subheader {
    padding-bottom: 36px;
    margin-left: 12%;
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
}

.image-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 48px;
    background-color: #E1E1E1;
}

/* Image Item styles */
.image-container__item {
    flex-basis: calc(33.33% - 16px); /* Adjust the width and padding to create 16px gap */
    box-sizing: border-box;
    padding: 36x; 
    padding-right: 48px;
}

.image-container__item img {
    width: 100%;
    height: auto;
    padding: 36px;
}

/* Footer styles */
.footer {
    background: #323232;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
}

/* Contact information styles */
.footer__contact-info {
    display: flex;
    background: #323232;
    color: #FFFFFF;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer__contact-info-item {
    flex-basis: 30%;
    text-align: left;
}

.footer__contact-name {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Copyright styles */
.footer__copyright {
    font-size: 14px;
}